<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home</title>
       <style>
body{
    background-image: url(https://t4.ftcdn.net/jpg/03/94/11/11/240_F_394111193_JOWOEFanYKzt2FZFV6eetJbmzcWOYeji.webp);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
        </style>
    </head>
<body>
<div style="background: linear-gradient(40deg,#4caf5014,#ffeb3b17);
    border-radius: 3px;
    border: 3px solid #d5d5d500;
    color: #333333;
    border-image-source: linear-gradient(to right, #4caf5080, #9c27b0a8, #03a9f4a6);
    border-image-slice: 1;
    font-family: inherit;
    font-size: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 1em;
    vertical-align: baseline;">
<h1><span style="color: blue">Xin Chào Bạn Đến Với Chương Trình Đấu giá từ thiện của Team C&B!</span></h1>
    <p> <marquee width="50%" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="2"><strong>Xin chân thành cảm ơn nhà tài trợ cho chương trình này</strong></marquee> </p>
    <hr>
    <p>Chương trình này được lập nên nhằm mục đích gây quỹ từ thiện của team C&B không vì lợi ích của bất kỳ cá nhân hay tổ chức nào.</p>
    <h3><span style="color: blue"><cite>Mục tiêu</cite>:</span></h3>
    <p>Nhằm để tạo thêm ý Nghĩa cho việc team building của team và giúp đỡ bớt những khó khăn của cuộc sống khó khăn xung quanh ta</p>
    <h3><span style="color: blue"><cite>Hoạt động</cite>:</span></h3>
    <p>+ Gây quỹ: mỗi thành viên của team có những vật dụng bất kỳ cần quyên góp cho team để đầu giá nhằm gây quỹ cho team hoặc có thể vận động từ thành viên khác ngoài team.</p>
    <p>+ Hàng năm hoạt động này sẽ được thực hiện 1 hoặc nhiều lần tùy theo tình hình của quỹ và biểu quyết của team.</p>
    <p>+ Mỗi thành viên có thể đề xuất nơi mình sẽ tham gia từ thiện và nơi được chọn thông qua biểu quyết.</p>
    <h3><span style="color: blue"><cite>Nguyên tắc Đấu giá</cite>:</span></h3>
    <p>+ khi ban tổ chức nhận được vật phẩm của thành viên quyên góp sẽ thông báo cho tất cả các thành viên ngày đấu giá, giá khởi điểm không vượt quá 1/2 giá trị của vật phẩm đang bán trên thị trường.</p>
    <p>+ Nguyên tắc đấu giá cho vật phẩm: Bước giá mỗi lần tương ứng như sau</p>
    <p>  - Giá khởi điểm dưới 100k: 20k</p>
    <p>  - Giá khởi điểm từ 100k - dưới 1mil: 30k</p>
    <p>  - Giá khởi điểm từ 1mil trở lên: 100k</p>
    <p>+ Ban tổ chức sẽ ra thời gian cho mỗi phiên đấu giá. Sau thời gian trên thì người ra giá cao nhất sẽ mua được vật phẩm đó.</p>
    <p>+ Người trả giá cao nhất sẽ nhận được vật phẩm và thanh toán cho ban tổ chức trong vòng 3 ngày. Nếu không người đấu giá không nhận thì phải trả phí cho ban tổ chức 100.000 vnd</p>
    <p>Hi vọng nhận được sự ủng hộ và đóng góp tận tình của mọi người.</p>
    <hr>
    <p><strong><span style="color: blue"><cite>Đại Diện Ban Tổ Chức.</cite>:</span></strong></p>
    <p>Xin chân thành cám ơn!,</p>
    <p>Xin vui lòng <a href="{{ url_for('login') }}"><cite><strong>Đăng nhập</strong></cite></a> hay <a href="{{ url_for('register') }}"><cite><strong>Đăng ký mới</strong></cite></a> để tiếp tục.</p>
</div>
</body>
</html>
