<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Đăng nhập</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post">
        <label for="username">Người dùng:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Mật mã:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Đăng nhập</button>
    </form>
    <p>Nếu Bạn chưa tham gia vui lòng đăng ký tài khoản? <a href="{{ url_for('register') }}">Đăng ký</a></p>
    <p>Nếu Bạn đã có tài khoản và quên mật mã. <a href="{{ url_for('forget_pass') }}">Quên mật mã</a></p>
</body>
</html>
